<div class="uk-position-relative uk-visible-toggle uk-padding" tabindex="-1" uk-slideshow="autoplay: true">
    <ul class="uk-slideshow-items">
{% set length = data.length if data.length < 10 else 10 %}
{% for item in range( 0, length ) %}
        <li>
        	<div class="uk-inline" uk-grid>
			<div class="uk-width-4-5">
				<h3>{{ data[item].title.rendered | decodehtml | striptags -}} <a href="{{ data[item].link }}" class="uk-button uk-button-primary uk-margin-left">read more</a></h3>
				<p>{{ data[item].excerpt.rendered | decodehtml | striptags -}}</p>

			<div>
			<div class="uk-position-top-right uk-overlay uk-overlay-default">{{ item+1 }} / {{ length }}</span>
			</div>
        </li>
{% endfor %}
    </ul>
    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
</div>